<footer id="layout-footer">
    <div>
        <p>
            Made with <span id="heart">	&#10084;</span> by Adarsh
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>