<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="./css/layout.css">

    <title>
        <%=title%>
    </title>


</head>

<body>
    <%- include("_header") %>
    <%-body%>
    <%- include("_footer") %>
</body>

</html>